<footer class="py-5 border-top--black container px-0">
    <div class="row justify-content-start">
        <div class="col-12 col-md-3">
            <p class="semi-bold">Nos produits & services</p>
            <p><a href="{% url 'light-list' %}" class="text-reset">Lampes</a></p>
            <p><a href="{% url 'furniture-list' %}" class="text-reset">Mobilier</a></p>
            <p><a href="{% url 'finding-list' %}" class="text-reset">Trouvailles</a></p>
        </div>
        <div class="col-12 col-md-3">
            <p class="semi-bold">À propos</p>
            <p><a href="{% url 'about' %}" class="text-reset">Notre histoire</a></p>
            <p><a href="{% url 'contact' %}" class="text-reset">Nous contacter</a></p>
            <p><a href="{% url 'legal-mentions' %}" class="text-reset">Mentions légales</a></p>
        </div>
        <div class="col-12 col-md-3">
            <p class="semi-bold">Notre fonctionnement</p>
            <p><a href="{% url 'how' %}" class="text-reset">Paiement</a></p>
            <p><a href="{% url 'how' %}" class="text-reset">Livraisons et retraits</a></p>
            <p><a href="{% url 'how' %}" class="text-reset">Conditions générales</a></p>
        </div>
    </div>
    <div class="mt-5">
        <p class="small font-grey">© 2021 Lampes & Trouvailles</p>
    </div>
</footer>