{% extends 'base.html' %}

{% block head-title %}
<title>Contact | Lampes & Trouvailles</title>
{% endblock %}

{% block main %}
<main class="py-4 container">
    <div class="mb-5">
        <h2 class="text-center h3 my-5 pb-5 semi-bold" id="page-title">Contactez nous</h2>
        <div class="row font-size--s">
            <div class="col-12 col-md-5">
                <p>Pour tout renseignement concernant achats, offres, paiements, livraison et retrait de colis, veuillez nous contacter par email en ajoutant la référence du produit suivie de l’une de ces catégories dans l’objet.</p>
                <p>Vous pouvez également nous contacter par téléphone si vous souhaitez avoir une discussion concernant l’un de nos objets. N’hésitez pas à nous laisser un message avec vos coordonnées et nous vous recontacterons dès que possible.</p>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-5">
                <p><strong>Email</strong></p>
                <p class="mb-4">
                   <a href="mailto:contact@lampes-trouvailles.com" class="text-reset">
                       contact@lampes-trouvailles.com
                    </a>
                </p>
                <p><strong>Téléphone</strong></p>
                <p>
                    <a href="tel:+33(0)616560911" class="text-reset">
                        +33 (0)6 16 56 09 11
                    </a>
                </p>
                <p>
                    <a href="tel:+33(0)687120498" class="text-reset">
                        +33 (0)6 87 12 04 98
                    </a>
                </p>
            </div>
        </div>
    </div>

</main>
{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}