{% extends 'base.html' %}

{% block head-title %}
<title>Accueil | Lampes & Trouvailles</title>
{% endblock %}

{% block main %}

<main class="pt-4 pb-5">

    <div class="container px-0">
        <div id="banner" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#banner" data-slide-to="0" class="active"></li>
              <li data-target="#banner" data-slide-to="1"></li>
              <li data-target="#banner" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="static/images/banner1.png" alt="Bannière Lampes & Trouvailles">
                <div id="banner-text">
                    <h2 class="mb-4 pb-2">Des lampes soigneusement chinées.</h2>
                    <a href="{% url 'light-list' %}" class="green-btn">Découvrez</a>
                </div>
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="static/images/banner2.png" alt="Bannière Lampes & Trouvailles">
                <div id="banner-text" class="max-w-15">
                    <h2 class="mb-4 pb-2">Du mobilier qui dure.</h2>
                    <a href="{% url 'light-list' %}" class="green-btn">Découvrez</a>
                </div>
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="static/images/banner3.png" alt="Bannière Lampes & Trouvailles">
                <div id="banner-text">
                    <h2 class="mb-4 pb-2">Des trouvailles pleines d'histoires.</h2>
                    <a href="{% url 'light-list' %}" class="green-btn">Découvrez</a>
                </div>
              </div>
            </div>
        </div>
    </div>

    {% if new_products %}
    <h2 class="text-center h3 my-5 semi-bold">Nouveautés</h2>
    <div class="container">
        <div class="row">
            {% for product in new_products %}
            {% if forloop.counter0 == 0 %}
            <div class="col-12 col-md-6 p-0">
                <div class="row">
                    <div class="col-12 col-md-12 px-0">
                        <a href="{{ product.get_absolute_url }}" title="{{ product.name }}">
                            <img src="{{ product.first_image.url }}" alt="photo {{ product.name }}" width="100%">        
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 p-0">
                <div class="row">
            {% else %}
                    <div class="col-6 col-md-6 px-0">
                        <a href="{{ product.get_absolute_url }}" title="{{ product.name }}">
                            <img src="{{ product.first_image.url }}" alt="photo {{ product.name }}" width="100%">        
                        </a>
                    </div>
            {% endif %}
            {% endfor %}
                </div>
            </div>   
        </div> 
    </div>
    {% endif %}

    <h2 class="text-center h3 my-5 semi-bold">Notre fonctionnement</h2>
    <div class="container">
        <div class="d-flex row justify-content-between pb-3" id="steps">
            <div class="p-5 bg-green font-white col-md-4 col-12">
                <h3 class="h5 mb-5 semi-bold">Étape 1</h3>
                <p class="mb-5">Chinez votre pièce favorite parmis lampes, mobiliers et trouvailles sur notre site.</p>
                <p class="mt-5 pt-4"><a class="text-reset semi-bold" href="{% url 'light-list' %}">Chinez avec nous <i class="ri-arrow-right-line ri-xl"></i></a></p>
            </div>
            <div class="p-5 bg-white col-md-4 col-12">
                <h3 class="h5 mb-5 semi-bold">Étape 2</h3>
                <p class="mb-5">Contactez nous pour effectuer un paiement sécurisé ou faire une offre raisonnable.</p>
                <p class="mt-5 pt-4"><a class="text-reset semi-bold" href="{% url 'contact' %}">En savoir plus <i class="ri-arrow-right-line ri-xl"></i></a></p>
            </div>
            <div class="p-5 bg-green font-white col-md-4 col-12">
                <h3 class="h5 mb-5 semi-bold">Étape 3</h3>
                <p class="mb-5">Organisons ensemble l'envoi ou la collecte de votre produit en toute sécurité</p>
                <p class="mt-5 pt-4"><a class="text-reset semi-bold" href="{% url 'how' %}#paiement">Plus de détails <i class="ri-arrow-right-line ri-xl"></i></a></p>
            </div>
        </div>    
    </div>

    <h2 class="text-center h3 my-5 semi-bold">Notre histoire</h2>
    <div id="history" class="container px-0">
        <div>
            <p class="text-center px-5 font-size--s">Lampes & Trouvailles est une petite entreprise familiale née d'une passion pour tous ces objets du quotidien. Au cours de ces 20 dernières années, nous avons accumulé lampes, mobilier, trouvailles, au départ pour notre plaisir et aujourd'hui par envie de partager cette passion avec nos acheteurs [...]</p>
            <p class=" text-center mt-5"><a class="text-reset semi-bold" href="{% url 'about' %}">En savoir plus <i class="ri-arrow-right-line ri-xl"></i></a></p>
        </div>
        </div>
    </div>
</main>
{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}