{% extends 'base.html' %}

{% block head-title %}
<title>Mentions légales | Lampes & Trouvailles</title>
{% endblock %}

{% block main %}
<main class="py-4 container">
    <div class="container mb-5">
        <h2 class="text-center h3 my-5 semi-bold" id="page-title">Mentions légales</h2>
        <div class="row justify-content-center align-items-center text-center">
            <div class="col-md-12 mb-4">
                <h2 class="text-center h5 mb-4 semi-bold">Lampes & Trouvailles</h2>
                <address>16000 - Angoulème</address>
                <p>+33 (0)6 16 56 09 11</p>
                <p>contact@lampes-trouvailles.com</p>
                <p>N° SIRET : </p>
            </div>
            <div class="col-md-12 mb-4">
                <h2 class="text-center h5 mb-4 semi-bold">Directeur de la publication</h2>
                <p>Pascal Courratier</p>
            </div>
            <div class="col-md-12 mb-4">
                <h2 class="text-center h5 mb-4 semi-bold">Hébergement</h2>
                <p>Python Anywhere</p>
                <p>Siège social : 17a Clerkenwell Road, London ec1m 5rd, UK</p>
            </div>
            <div class="col-md-12 mb-4">
                <h2 class="text-center h5 mb-4 semi-bold">Design et Développement</h2>
                <p><a href="https://flosodesign.com" class="text-reset">Florian Sauvaire</a></p>
                <p>Sarah Rubio</p>
            </div>
        </div>    
    </div>
</main>
{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}